*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body {
    display: block;
    /* justify-content: flex-end; */
    min-height: 100vh
}

header{
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

header ul{
    display: flex;
    justify-content: space-between;
}

header ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    list-style: none;
    margin: 1.5rem;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

a:hover{
    text-decoration: underline;
}

header img{
    height: 5rem;
    width: auto;
}

figure{
    display: flex;
    justify-content: center;
}

main img{
    width: 27.2rem;
    margin: auto;
}

.BarraBusqueda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border: .1rem solid rgb(190, 189, 189);
    border-radius: 4rem;
    margin: 3rem
}

.BarraBusqueda a img{
    width: auto;
    margin: 1rem;
    border: 0.1rem solid white;
    border-radius: 50%;
}

.mainElement{
    text-align: center;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
.mainOptions{
    display: flex;
    justify-content: space-evenly;
}
.mainOptions div{
    background-color: rgb(224, 223, 223);
    padding: 0.5rem;
    border: 0.1rem solid rgb(224,223, 223);
    border-radius: 0.5rem ;
}
footer{
    background-color: rgb(224, 223, 223);
    display: flex;
    justify-content: space-between;
}

footer div ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

footer div ul li{
    padding: 1rem;
}
